In [1]:
import plotly.graph_objs as go
import plotly.express as px
import pandas as pd

In [2]:

df = pd.read_csv('top10_bestemmingen.csv')

df.head(n=10) # first 10 of the 17 rows

                       2021 (mld euro) 2020 (mld euro)
0            Duitsland            26,3            24,5
1               België            12,1            10,7
2            Frankrijk             8,6             7,6
3  Verenigd Koninkrijk             8,6             8,5
4               Italië             3,9             3,3
5                China             3,9             3,8
6               Spanje             3,3             2,7
7                Polen             3,3             2,7
8     Verenigde Staten             3,0             2,7
9           Denemarken             2,3             1,9

In [3]:
df = pd.read_csv('top10_uitgevoerde_landbouwgoederen.csv')

df.head(n=10) # first 10 of the 17 rows

                             Product 2021 (mld euro) 2020 (mld euro)
0                          Sierteelt            12,0             9,6
1                              Vlees             9,1             8,5
2                   Zuivel en eieren             8,7             8,3
3                           Groenten             7,2             7,0
4                              Fruit             7,0             7,0
5                            Dranken             6,6             6,0
6        Natuurlijke vetten en oliën             5,7             4,7
7   Resten voedselindustrie, veevoer             5,4             5,0
8   Bereidingen van groente en fruit             5,3             4,9
9  Bereidingen van graan, meel, melk             5,0             5,3

In [4]:
df = pd.read_csv('landbouw_export.csv')

df.head(n=6) # first 10 of the 17 rows

   Jaar Export van Nederlandse makelij (mld euro)  Wederuitvoer (mld euro)
0  2016                                      61,8                     23,0
1  2017                                      65,3                     24,8
2  2018                                      65,7                     24,7
3  2019                                      68,7                     26,0
4  2020                                      68,4                     27,3
5  2021                                      75,7                     29,0

In [5]:
import plotly.graph_objs as go
import plotly.express as px
import pandas as pd

df = pd.read_csv('../datasets/productie_nederland_broeikas.csv')
df['Uitstoot broeikasgassen (1995 = 100)'] = df['Uitstoot broeikasgassen (1995 = 100)'].str.replace(',','.').astype(float)
df_sorted = df.sort_values('Uitstoot broeikasgassen (1995 = 100)', ascending=True)

df['Totaal productievolume (1995 = 100)'] = df['Totaal productievolume (1995 = 100)'].str.replace(',','.').astype(float)
df_sorted = df.sort_values('Totaal productievolume (1995 = 100)', ascending=True)

df['Plantaardig productievolume (1995 = 100)'] = df['Plantaardig productievolume (1995 = 100)'].str.replace(',','.').astype(float)
df_sorted = df.sort_values('Plantaardig productievolume (1995 = 100)', ascending=True)

df['Dierlijk productievolume (1995 = 100)'] = df['Dierlijk productievolume (1995 = 100)'].str.replace(',','.').astype(float)
df_sorted = df.sort_values('Dierlijk productievolume (1995 = 100)', ascending=True)

trace_1 = go.Scatter(
    name = 'uitstoot broeikasgas',
    x = df['Jaar'],
    y = df['Uitstoot broeikasgassen (1995 = 100)']
)

trace_2 = go.Bar(
    name = 'totaal productie volume',
    x = df['Jaar'],
    y = df['Totaal productievolume (1995 = 100)']
)

trace_3 = go.Bar(
    name = 'Plantaardig productie volume',
    x = df['Jaar'],
    y = df['Plantaardig productievolume (1995 = 100)']
)

trace_4 = go.Bar(
    name = 'Dierlijk productie volume',
    x = df['Jaar'],
    y = df['Dierlijk productievolume (1995 = 100)']
)

layout = go.Layout(
    height= 400,
    title = 'Uitstoot van broeikasgassen en grootte van productie argrarische sector, in Nederland ten opzichte van 1995',
    yaxis=dict(title='Volume t.o.v. 1995'),
    xaxis=dict(title='Jaren'),
)

fig = go.Figure(data=[trace_2, trace_1], layout=layout)

fig.show()

FileNotFoundError: [Errno 2] No such file or directory: '../datasets/productie_nederland_broeikas.csv'