In [ ]:
import plotly.graph_objs as go
import plotly.express as px
import pandas as pd

In [1]:

df = pd.read_csv('top10_bestemmingen.csv')

df.head(n=10) # first 10 of the 17 rows

                       2021 (mld euro) 2020 (mld euro)
0            Duitsland            26,3            24,5
1               België            12,1            10,7
2            Frankrijk             8,6             7,6
3  Verenigd Koninkrijk             8,6             8,5
4               Italië             3,9             3,3
5                China             3,9             3,8
6               Spanje             3,3             2,7
7                Polen             3,3             2,7
8     Verenigde Staten             3,0             2,7
9           Denemarken             2,3             1,9

In [3]:
df = pd.read_csv('top10_uitgevoerde_landbouwgoederen.csv')

df.head(n=10) # first 10 of the 17 rows

                                     2021 (mld euro) 2020 (mld euro)
0                          Sierteelt            12,0             9,6
1                              Vlees             9,1             8,5
2                   Zuivel en eieren             8,7             8,3
3                           Groenten             7,2             7,0
4                              Fruit             7,0             7,0
5                            Dranken             6,6             6,0
6        Natuurlijke vetten en oliën             5,7             4,7
7   Resten voedselindustrie, veevoer             5,4             5,0
8   Bereidingen van groente en fruit             5,3             4,9
9  Bereidingen van graan, meel, melk             5,0             5,3

In [5]:
df = pd.read_csv('landbouw_export.csv')

df.head(n=6) # first 10 of the 17 rows

   Jaar Export van Nederlandse makelij (mld euro)  Wederuitvoer (mld euro)
0  2016                                      61,8                     23,0
1  2017                                      65,3                     24,8
2  2018                                      65,7                     24,7
3  2019                                      68,7                     26,0
4  2020                                      68,4                     27,3
5  2021                                      75,7                     29,0